.project-area-title {
    font-size: 50px;
    text-align: center;
    margin: 60px 0px;
}

.project-wrap {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-content {
    width: 30%;
}

.project-content h3 {
    width: 80%;
    margin: 0px auto;
    height: 100px;
}

.project-content button {
    display: block;
    width: 80%;
    height: 50px;
    margin: 10px auto;
}

.project-content button a {
    text-decoration: none;
}

.text-area {
    width: 80%;
    margin: 20px auto;
    height: 200px;
}

.project-content p {

    font-size: 18px;
}



.btn-top {
    background-color: black;
}

.btn-bottom {
    background-color: white;
    border: solid 1px black;
}

.btn-top a {
    color: white;
}

.btn-bottom a {
    color: black;
}

.special-btn-top-area {
    display: flex;
    width: 80%;
    margin: 10px auto;
    justify-content: space-between;
}

.special-btn-top-area button {
    width: 48%;
    margin: 0px;
    background-color: black;
    color: white !important;
}

.special-btn-top-area button a {
    color: white;
}

.special-btn-area {
    display: flex;
    width: 80%;
    margin: 10px auto;
    justify-content: space-between;
}

.special-btn-area button {
    width: 48%;
    margin: 0px;
}

@media (max-width: 1400px) {

    .project-wrap {
        justify-content: start;
    }

    .project-content {
        width: 50%;
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {
    .project-wrap {
        display: block;
    }

    .project-content {
        width: 80%;
        margin: 60px auto;
    }

    .text-area {
        height: auto;
    }

    button {
        height: auto !important;
    }
}


@media (max-width: 500px) {
    .project-content {
        width: 100%;
    }

    .text-area {
        width: 100%;
    }


}